/* Calculator Styles*/

body {
    margin: 0;
}

.the-container {
    margin: 10px;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-container h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.the-container .input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.the-container .btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding-top: 7px;
    background-color: bisque;
    box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    -webkit-box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    -moz-box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 30px 12px 10px 13px;
    border: none;
    position: relative;
    left: 11px;
    cursor: pointer;
    transition: 0.1s;
}

.btn :hover {
    color: blue;
    background-color: black;
}

.the-container h1 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgb(228, 190, 85);
    display: block;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    padding: 50px;
    height: 400px;
}
.the-container .output {

    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 19px );
-webkit-backdrop-filter: blur( 19px );
border-radius: 10px;
margin-top: 20px;
font-size: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;



}


/* Currency Converter Styles */

.currency-btn {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 7px;
    background-color: bisque;
    box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    -webkit-box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    -moz-box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);;
    color: grey;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px 12px 10px 13px;
    border: none;
    position: relative;
    left: 40px;

    cursor: pointer;
    transition: 0.1s;
}
.container-curr{
    background: url(https://images.unsplash.com/photo-1625806785652-f4427c3fda40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    background-color: rgb(228, 190, 85);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 600px;
    padding: 70px;
    height: 400px;
}

.container-curr h1{
    color: white;
    position: relative;
    bottom: 200px;
    left: 250px 

}
.the-container .output-currency {
color: rgb(243, 243, 243);
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 19px );
-webkit-backdrop-filter: blur( 19px );
border-radius: 5px;
margin-top: 20px;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 280px;
    height: 50px;
    position: relative;
    top: 200px;
    right: 180px;

}


/* DB Styles*/


.db-container{
    
    left: 150px;
    background-color: rgb(221, 231, 233);
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(19, 3, 3);
    margin: 180px ;
    width: 80%;
    padding:50px;
    height: 2100px;
   
}

.crud-container{
 
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top:100px;
    position: relative;
    font-size: 20px;
    height: 100%;
}
.crud-container input{
    width: 200px;
    height:30px;
}
.db-container .dbheading{
    background-color: blanchedalmond;
    width: 100%;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.crud-container h1{
    width: 80%;
    position: relative;
    font-size: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
 
}
.crud-container button{
    background-color: rgb(241, 239, 236);
    width: 30%;
     background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border-radius: 5px;
    font-size: 20px;
    border: none;
    position: relative;
    left: 80px;
    
    top: 20px;
    height: 30px;
 
}
/*
 .db-btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 7px;
    background-color: rgb(88, 78, 66);
    box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    -webkit-box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);
    -moz-box-shadow: -10px 9px 58px 10px rgba(179, 97, 97, 0.76);;
    color: grey;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px 12px 10px 13px;
    border: none;
    position: relative;
    left: 50px;
    cursor: pointer;
    transition: 0.1s;
} */